body {
    margin: 0;
}

aside nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}