{% extends "base.html" %}

{% block title %}{{ project.name }} | Project Management{% endblock %}

{% block content %}

<div class="main-content-tracker">
    <div class="container-tracker">
        <h2 class="text-start">{{ project.name }}</h2>
        <p class="text-start">
            Category: {{ project_type }}
        </p>
    </div>


    <div class="projects-content">
        <div class="col-12 mt-4">
            <h2>Tasks</h2>

           

        </div>
    </div>
</div>

{% endblock %}